body{
  background-color: #000000;
}
.text-wrapper{
  display: flex;
  height:100%;
  width:60%; 
  margin: 0 auto; 
  line-height: 1.5;
  word-spacing:0; 
  text-align: justify;
  position: relative;
}

p{color: #FFE81F;
font-family:"VT323"; 
  font-size: 2rem;
  font-weight:900;
  word-spacing: 0; 
}
.start-button-container{
  display:flex; 
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-bottom: 3rem;
}
.start-button{
  display:flex; 
  justify-content: center;
  align-items: center;
  margin:auto;
  background-color: #000000;

text-decoration: none;
font-family:"VT323"; 
  font-size: 3rem;
  font-weight:900; 
  width:15rem;
  height:5rem;  
  box-shadow:
  0 0 0 0.3rem #00008b,
  0 0 0 .6rem #12aef6,
  0 0 0  1.1rem #c2eefb,
  0 0 0 1.4rem #12aef6,
  0 0 0 1.7rem #00008b;
}
a{
  background-color: blue; 
  ;
    /* Create the gradient. */
    background-image: linear-gradient(
 
        #FF5733 0% 46%,
        #FFE81F 46% 56%,  
        #FF5733 56% 100%);

/* Set the background size and repeat properties. */
background-size: 100%;
background-repeat: repeat;

/* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */
background-clip: text;
-webkit-text-fill-color: transparent; 
}
@media only screen and (max-width: 767px) {
  /* phones */
 
  .start-button-container{
    margin:3rem; 
  }
}



