.start-button{
    display:flex; 
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  font-family:"VT323"; 
    font-size: 3rem;
    font-weight:900; 
    width:20rem;
    height:5rem; 
    padding:auto; 
    margin:auto; 

}

img{
    width:6rem;
    height:6rem; 
}

