/* body{
    background-color: black;
} */
 .container-for-array{
    width:60rem;
    height:20rem; 
    background-color: red;
    border: black solid 4px;
    display: flex;
    flex-wrap: wrap;
   
}
.container-style{
    background-color: blue;
    border:black solid 3px; 
    width:4rem;
    height: 4rem;
}
img{
    object-fit: contain;
    animation: pokemon-fly-in  2s forwards;
}
@keyframes pokemon-fly-in {
    from {
        transform: scale(0) rotate(0turn);
        }
    to {
        transform: scale(1) rotate(3turn);}
}
