body{
    background-color: black;
}
img{
    width:5.5rem;
    height:5rem; 

 animation: pokemon-fly-in  2s forwards;
    
}
@keyframes pokemon-fly-in {
    from {
        transform: scale(0) rotate(0turn);
        }
    to {
        transform: scale(1) rotate(3turn);}
}
