body{
    background-color: #2d383a;
}
 .container-for-array{
    margin-top:4rem;
    width:100vw;
    height:50vh; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
   
}
#pokeball-container{
    justify-content: center;
    align-items: center;
    width:6rem;
    height:6rem;
    margin-bottom:3rem; 
    background-size: 6rem 6rem;
    position:fixed;
    bottom:0; 
    right:50%; 
    
}



#x-wing-fighter{
    justify-content: center;
    align-items: center;
    width:6rem;
    height:6rem;
    margin-bottom:3rem; 
    background-image:url("images/x-wing.png");
    background-size: 6rem 6rem;
    position:fixed;
    bottom:0; 
    right:50%; 
}
.container-style{
    width:5rem;
    height: 5rem;
}
.pokeball-styles{
    width:2rem;
    height: 2rem;
    animation: pokeball-spin .3s infinite linear;
}


@keyframes pokeball-spin{
    from {
        transform: rotate(0deg); 
    }
    to{
        transform: rotate(360deg); 
    }
}

.pokemon-styles{
    object-fit:contain;
    width:4rem;
    height: 4rem;
    animation: pokemon-fly-in  2s forwards;
}
@keyframes pokemon-fly-in {
    from {
        transform: scale(0) rotate(0turn);
        }
    to {
        transform: scale(1) rotate(3turn);}
}
